<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Caixa de mensagem </title>
</head>
<body class="body2">
    <header class="header2"><span class="material-symbols-outlined">
        account_circle
        </span></header>
        <div class="container2">
            <h2>Caixa de mensagens</h2>
            
                <div class="div3">
                    <h5>Anônimo te enviou uma mensagem</h5>
                </div>
               
                
            </form>
        </div>
</body>
</html>