<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Entrar</title>
</head>
<body >
    <header><span class="material-symbols-outlined">
        account_circle
        </span></header>
        <div class="container">
            <h2>Entrar</h2>
            <form action="opcao.html">
                <div class="form-group">
                    <label for="nome">E-mail ou RM:</label>
                    <input type="text" id="nome" name="nome" required>
                </div>
               
                <button type="submit">Entrar</button>
            </form>
        </div>
</body>
</html>