<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <header>
        <span class="material-symbols-outlined">
            account_circle
            </span>
    </header>
    <div class="anabutton">
        <button class="aebutton"><a href="/mensagem">Mandar mensagens</a></button>
        
        
        <button class="aebutton"><a href="/caixamensagem">Ver caixa de mensagens</a></button>
    </div>
</body>
</html>
